src/main/mule/jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="01abe9c4-03a6-4e42-9292-064871babf98" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinsFlow" doc:id="4b048814-fc65-46aa-9d00-d9237c546c1b" >
		<http:listener doc:name="Listener" doc:id="d32ef7c2-9246-45da-934c-0b358e797d28" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<logger level="INFO" doc:name="Logger" doc:id="609ac4dd-ef87-49c9-9495-ddd41c35fdf6" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="db97522d-ee26-48f1-88b8-b0c255448b2a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
